<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta charset="UTF-8">
  <title>Weather App Home</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script type="text/javascript" src="{% static 'js/weatherapp.js' %}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css">
    <link rel="stylesheet" href="{% static 'css/weatherapp.css' %}">
</head>
<body>

<div id="cityWeatherDetailModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title">
        </h3>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script id="city-weather-summary-tmpl" type="text/template">
     <% _.each(data, function(loc) { %>
        <div class="row city-weather-summary" data-cityname='<%-loc.city_name%>' data-citycountry='<%-loc.city_country%>' data-cityid="<%-loc.city_id%>">
            <div class="col-md-2 not-clickable"><%-loc.city_name%>, <%-loc.city_country%></div>
            <div class="col-md-2 not-clickable">Humidity: <%-loc.weather.humidity%></div>
            <div class="col-md-2 not-clickable">Pressure: <%-loc.weather.pressure.press%> hpa</div>
            <div class="col-md-2 not-clickable">Temperature : <%-loc.weather.temperature.temp%> F</div>
            <div class="col-md-2 not-clickable">Status : <%-loc.weather.status%></div>
            <div class="col-md-2">
                <button type="button" data-cityid="<%-loc.city_id%>" data-locid="<%-loc.tl_id%>" class="un-track-location btn btn-warning btn-xs">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
            </div>
        </div>
     <% }); %>
</script>
<script id="city-weather-detail-tmpl" type="text/template">
    <div id="forecast-container" data-cityname="<%-city_name%>">
        <% _.each(forecast_data, function(fc) { %>
        <div class="row city-forecast">
            <div class="col-md-4">For date <%-new Date(fc.weather.reference_time).toLocaleString()%></div>
            <div class="col-md-2">Humidity: <%-fc.weather.humidity%></div>
            <div class="col-md-2">Pressure: <%-fc.weather.pressure.press%> hpa</div>
            <div class="col-md-2">Temperature : <%-fc.weather.temperature.day%> F</div>
            <div class="col-md-2">Status : <%-fc.weather.status%></div>
        </div>
        <% }); %>
    </div>
</script>

  <div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<nav class="navbar navbar-default" role="navigation">
				<div class="navbar-header">

					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						 <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
					</button> <a class="navbar-brand" href="#">WeatherApp</a>
				</div>

				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="/weatherapp/logout">Logout</a>
                        </li>
					</ul>
				</div>

			</nav>
		</div>
	</div>
  <div class="row row-margin">
		<div class="col-md-5">
            <div>
              <label for="cities">Select current city </label>
              <select id="current-city" data-up={{ user_profile }}>
                <option value=2638360 {% if 2638360 == current_location %}selected{% endif %}>Scotland, GBR</option>
                <option value=1261481 {% if 1261481 == current_location %}selected{% endif %}>New Delhi, IND</option>
                <option value=5128638 {% if 5128638 == current_location %}selected{% endif %}>New York, USA</option>
                <option value=4254010 {% if 4254010 == current_location %}selected{% endif %}>Austin, USA</option>
              </select>
            </div>
		</div>
        <button id="set-current-city">Save</button>
	</div>
	<div class="row row-margin">
		<div class="col-md-5">
            <div>
              <label for="cities">Select cities from the list </label>
              <select id="cities-list-multiselect" multiple="multiple">
                <option value=2638360 {% if 2638360 in tracked_locations %}disabled{% endif %}>Scotland, GBR</option>
                <option value=1261481 {% if 1261481 in tracked_locations %}disabled{% endif %}>New Delhi, IND</option>
                <option value=5128638 {% if 5128638 in tracked_locations %}disabled{% endif %}>New York, USA</option>
                <option value=4254010 {% if 4254010 in tracked_locations %}disabled{% endif %}>Austin, USA</option>
              </select>
            </div>
		</div>
        <button id="track-cities">Track Weather</button>
	</div>
  <div id="weather-data-container" class="container">
  </div>
</div>
</body>
</html>