<html>
	{% load static %}
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script type="text/javascript" src="{% static 'js/weatherapp.js' %}"></script>
	</head>
	<body>
		<form class="form-horizontal" name="login" method="POST" accept-charset="utf-8">
            {% csrf_token %}
	    	<fieldset>
				<!-- Form Name -->
				<legend>Log in</legend>

				<!-- Text input-->
				<div class="form-group">
				  <label class="col-md-4 control-label" for="username"></label>
				  <div class="col-md-4">
				  <input id="username" name="username" type="text" placeholder="Username" class="form-control input-md" required="">

				  </div>
				</div>

				<!-- Password input-->
				<div class="form-group">
				  <label class="col-md-4 control-label" for="password"></label>
				  <div class="col-md-4">
				    <input id="password" name="password" type="password" placeholder="password" class="form-control input-md" required="">

				  </div>
				</div>

				<!-- Button -->
				<div class="form-group">
				  <label class="col-md-4 control-label" for="submit"></label>
				  <div class="col-md-4">
				    <input type="submit" name="submit" class="btn btn-primary" value="Sign in"/>
				  </div>
				</div>
			</fieldset>
			<div id="status"></div>
		</form>
	</body>
</html>