#weather-data-container{
    margin:50px;
}

.row.city-weather-summary, .city-forecast {
    height: 50px;
    border: black 1px solid;
    padding: 15px;
    background-color: whitesmoke;
}

.row.city-weather-summary:hover {
    cursor: pointer;
    background-color: darkgray;
}

.row.city-weather-summary > .not-clickable
{
    pointer-events: none;
}

#cityWeatherDetailModal > .modal-dialog{
    width:80%;
}

.row-margin{
    margin: 50px;
}